
.feed-data {
	text-align: center;
	border-bottom: solid 1px $darkborder;
	position: relative;
	margin-bottom: 2em;

	h1 {
		padding: 1.5em 0;
		font-size: 2.6em;
	}
}

.post {
	padding: 0 0 3em;
	border-bottom: solid 1px $darkborder;
}
.post-data, .messages {
	position: relative;

	&:after {
		content: '';
		display: block;
		width: 40%;
		height: 0;
		position: absolute;
		bottom: 0;
		left: 30%;
		border-bottom: solid 1px $darkborder;
	}
}
.post-data {
	@extend %font-header;
	padding: 1.75em 0;
	margin-bottom: 1.75em;
	text-align: center;

	p {
		margin-top: .1em;
		font-size: .875em;
		color: adjust-color($bodycolor, $lightness:35);
	}
	h1.title {padding-top: .3em;}
}
.messages {padding-bottom: 1em;}
