
$header-height: 40px;

header.site, header.toolbar {
	width: 100%;
	position: fixed;
	z-index: 9;
	left: 0;

	.table {height: $header-height;}
	h1, nav {@extend %tcell; padding: 0 .8em;}
	h1 {width: 100%; font-size: 1em;}
}
header.site {
	top: 0;
	//background: rgba(darken($darkest, 10), .9);
	background: $darkest;
	@extend %font-header;
	border-bottom: solid 1px darken($darkest, 10);

	h1 {text-transform: uppercase; padding: 0;}
	nav.view {text-align: center;}
	nav.site {text-align: right; display: none;}
	a {
		display: inline-block;
		color: $lightest;
		text-align: center;

		&:hover {color: $linkcolor;}
	}
}
header.toolbar {
	background: mix($darkborder, $lightest, 30);
	//border-bottom: solid 1px $darkborder;
	top: $header-height + 1;

	h1 {font-weight: 400; text-align: center;}
	nav {
		text-align: center;
		@extend %font-header;
		font-size: .1em;
		white-space: nowrap;

		a {
			font-size: 7.5em;
			background: mix($darkborder, $lightest, 80);
			@include box-shadow(inset 0 2px 4px rgba($darkest, .1));
				color: mix($darkest, $darkborder, 40);
			border: solid 1px $darkborder;
			margin-left: -1px;
			padding: .45em .9em;
			line-height: 1.1em;
			display: inline-block;
			text-transform: uppercase;

			&:first-child {@include border-radius(4px 0 0 4px);}
			&:last-child {@include border-radius(0 4px 4px 0);}
			&.selected {
				background: mix($darkborder, $lightest, 22);
				@include box-shadow(none);
			}
		}
	}
}
