
.messages {
	@extend %small-border;
	overflow: hidden;
	height: 300px;
	top: -1px;
	@include transition(height, 300ms);

	&.hide {
		height: 0;

		&:after {display: none;}
	}
}
.message {
	@extend %font-header;
	text-align: left;
	background: rgba($darkborder, .8);
	padding: .3em 1em .4em;
	font-size: .875em;
	margin-top: .7em;
	color: $bodycolor !important;
	@include border-radius(4px);

	&:first-child {margin-top: $spacing;}
	&:last-child {margin-bottom: $spacing;}
	&.warning {background: rgba($yellow, .75);}
	&.alert {background: $red; color: $lightest !important;}
}
