
.message {
	@extend %font-header;
	text-align: left;
	background: rgba($darkborder, .8);
	padding: .3em 1em .4em;
	font-size: .875em;
	margin: 0 0 .7em;
	@include border-radius(4px);

	&.warning {background: rgba($yellow, .75);}
	&.alert {background: $red; color: $lightest}
}
